.auth-buttons > * {
    width: auto;
}

body {
    background-color: #f8f8f8;
}

.details {
    font-size: 14px;
}

/* bootstrap links colors*/
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover {
    color: gray;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: gray;
    border-color: gray;
}

.dropdown {
    width: auto;
}

.form-control:focus {
    border-color: #bdbdbd;
    box-shadow: 0 0 0 0.1rem rgb(210, 210, 210);
}

.list-group-item-mine {
    background-color: #f1f9fb;
}

.info > * {
    padding: 0 0 0 0;
}

.row > p {
    padding: 0 0 0 0;
}
